$color-text: #FFF5DA;
$text-secondary: #FFD496;
$primary-color: #15375A;

* {
  margin: auto 0;
  box-sizing: border-box;

}

@font-face {
  font-family: 'Korner Deli NF';
  src: local('Korner Deli NF'),
       url('/fonts/KornerDeliNF.woff2') format('woff2'),
       url('/fonts/KornerDeliNF.woff') format('woff'),
       url('/fonts/KornerDeliNF.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}



::-webkit-scrollbar {
  width: 8px;
  height: 10px;

}
::-webkit-scrollbar-thumb {
  
  border-radius: 8px;
  background: #c2c9d2;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.loading {
  position: fixed;
  z-index: 50;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  background-color: $primary-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_title {
  font-family: 'Korner Deli NF';
    font-weight: bold;
    color:#FFD496;
    font-size: 3rem;
    margin-bottom: 15px;
}

.loading_welcome {
  font-family: 'Korner Deli NF';
  font-weight: bold;
  color:#FFD496;
  font-size: 2rem;
}



.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:80px;
  width:80px;
  background:transparent;
  -webkit-animation:bounce 4s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:68%; }
  25%, 75% { bottom:69%; }
  50%      { bottom:70%; }
  100%     {bottom:71%; }
}

.slider {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 162px); 
  overflow: hidden;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.9); 
  color: #405C7B;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
  padding-top: 4rem;
  transition: all 1s;
  z-index: 3;
  overflow-y:auto;
}

.slider.close {
  bottom: 100vh;
  height: 0;
}

.continents-list {
  display: flex;
    flex-flow: row wrap;
    a {
      text-decoration: none;
    }
}

.country_button {
  visibility: visible;
}

.score {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: end;
  z-index: 20;
  margin-right: 0.1rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-family: 'Poppins';
  font-weight: 200;
  color: #405C7B;
  background-color: #FFFFFF;
  border-radius: 2rem;
  padding: 0.5rem;

}



.sea {
  background-image: radial-gradient(#000000, #06999F);
  width: 100%;
  height: calc(100vh - 172px);
 }

 .map {
  width: 100%;
  height: 100%;
  visibility: visible;
  background-image: url('/img/sea384-01.svg');
  z-index: 0;

   .listview-mobile {
      background-color: #FFFFFF;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-family: 'Poppins';
        color: #405C7B;
        text-align: center;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: calc(50% - 100px);  
        width: 200px;
        font-size: 1.5rem;
        text-align: center;
        overflow-y:auto;
        display: block;
        z-index: 5;
        
  }

  .listview-desktop { 
    display: none;
  }

  .listview-mobile:hover {
      color: #FFFFFF; 
      background-color: #405C7B;
  }

}

.image-crop {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 1rem;
  margin-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flag-icon {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.features {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 60px;
  background-image: url('/img/positano-faded.jpg');
  background-size: cover;
  background-position-x: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;

  .instructions {
    img {
      display: none;
    }
    h6 {
      font-family: 'Korner Deli NF';
      font-size: 1rem;
      color: #530000;
      text-align: center;
    }
    p {
      display: none;
    }
  }

  .display-name {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    color: #0C3460;
    margin: 0;
  }
  p {
    display: none;
  }
  .shape {
    display: none;
    overflow: hidden;
  }
}

.list-country-name {
  display:flex;
  font-size: 2rem;
  white-space: nowrap;
}

.continents-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.continents-1 {
  justify-self: flex-end;
}

.continents-2 {
  justify-self: flex-start;
}

.continent {
  img {
    width: 75px;
    margin: 1rem auto;
  }
}

.map .listview-mobile {
  display: block;
}



@media only screen and (min-width: 768px) {

  .loading_welcome {
    font-family: 'Korner Deli NF';
    font-weight: bold;
    color:#FFD496;
    font-size: 3rem;
  }

  .loading_title {
    font-family: 'Korner Deli NF';
      font-weight: bold;
      color:#FFD496;
      font-size: 4.5rem;
      margin-bottom: 15px;
  }
  

  .bounce {
    position:fixed;
    left:50%;
    bottom:0;
    margin-top:-25px;
    margin-left:-25px;
    height:80px;
    width:80px;
    background:transparent;
    -webkit-animation:bounce 4s infinite;
  }
  
  @-webkit-keyframes bounce {
    0%       { bottom:70%; }
    25%, 75% { bottom:72%; }
    50%      { bottom:74%; }
    100%     {bottom:76%; }
  }

  .slider {
    height: 100%;
    text-align: center;
    width: calc(100vw - 370px);
    bottom: 0;
  }
  
  .slider.close {
    
    position: absolute;
    width: calc(100vw - 370px);
    height: 0;
    bottom: -10%;
    overflow: hidden;
    background-color: #FFFFFF; color: #405C7B;
    font-size: 1.5rem;
    line-height: 0.2rem;
    text-align: center;
    padding: 1rem;
    opacity: 0.80;
    transition: all 1s;
    z-index: 3;
  }

  .score {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    text-align: end;
    z-index: 20;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 200;
    color: #405C7B;
    background-color: #FFFFFF;
    border-radius: 1.6rem;
    padding: 1rem;
    line-height: 0rem;
  }


  main {
    display: flex;
    flex-flow: row nowrap;
  }

  .sea {
    width: calc(100vw - 370px);
    height: calc(100vh - 112px);
  }

  .sea-desktop {
    width: calc(100vw - 370px);
  }

  .listview-desktop {
    display: block !important;
    background-color: #FFFFFF;
    z-index: 10;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-family: 'Poppins';
    color: #405C7B;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);  
    width: 200px;
    font-size: 1.5rem;
  }

  .listview-desktop:hover {
    color: #FFFFFF; 
    background-color: #405C7B;
  }
  
    .features {
      position: absolute;
      width: 370px;
      height: calc(100vh - 112px);
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: rgba(255, 255, 255, 0.9);
      right: 0;
      bottom: 0;
      
      .display-name {
        flex-flow: row-reverse;
        padding: 2rem;
        justify-content: space-around;
        align-items: center;
        h2 {
          max-width: 80%;
          white-space: nowrap;
          font-size: 1.5rem;
        }
      }

      .instructions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
    
        img {
          display: block;
          width: 40%;
        }
    
        h6 {
          font-size: 2rem;
        }
    
        p {
          display: block;
        }
      }

      p {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        color: #0C3460;
      }
      .shape-container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        margin: 0;
      }
      .shape {
        display: block !important;
        height: 30vh;
        margin: 0 auto;
      }
      .image-crop {
        margin-right: 0;
        margin-left: 1rem;
      }
    }

    .features::-webkit-scrollbar { 
      display: none; 
     }    

    .map .listview-mobile {
      display: none;
    }

    p {
      display: block;
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      color: #0C3460;
    }
    .shape-container {
      width: 90%;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      margin: 0;
    }
    .shape {
      display: block !important;
      height: 50vh;
      margin: 0 auto;
    }
  }

  


  .continent {
    img {
      width: 100px;
      transition: 0.2s;

      :hover {
        width: 150px;
      }
    }
  }

  .list-country-item {
    display:flex;
    flex-direction: row;
    flex: 0 0 0;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
  }
  
  .list-country-name {
    display:flex;
    font-size: 1.5rem;
  }
  
  .country-list {
    display: flex;
  }
  
  .country-button {
    display:flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    cursor:pointer;
    text-align: center;
    height: 60px;
    width: 60px;
  }
  
  .country-button:hover {
    cursor: pointer;
    color: #60D16E;
    transform: scale(1.5);
    transition: .2s;
  }
  
  .fa-check-circle {
    color: #60D16E;
    transform: scale(1.5);
    transition: .2s;
  }
  
  .flag-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1rem 2rem 3rem 3rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-top: 7rem; 
  }
  
  .city-info {
    
    h2 {
      margin: auto;
      text-align: center;
      }
  }
  
  #attraction {
    margin: auto;
    width:100%;
    text-align: center;
  }
  
  #attraction-pic {
    display:flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    font-weight: bold;
    color: white;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin: 1em 0 .3em 0;
    text-shadow: #000000 0 0 10px;
  }