$color-text: #FFF5DA;
// $primary-color: #2B2B2B;
$primary-color: #15375A;

header .mobile {
  background-color: $primary-color;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  
  img {
    height: 50px;
  }

  a {
    margin: 0;
    text-decoration: none;
  }

  h1 {
    display: none;
  }

}

 

header .desktop {
  display: none;
}


footer nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: $primary-color;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 768px) {

  
      header .desktop {
        display: flex;
        flex-direction: row nowrap;
        width: 100%;
        height: 112px;
        background-color: $primary-color;
        padding-top: 1rem;
  
      a{
        text-decoration: none;
        margin: 0;
      }

      h1 {
        font-family: 'Korner Deli NF';
        font-weight: bold;
        color: $color-text;
        font-size: 2.5rem;
        margin-bottom: 15px;
        line-height: 2rem;
      }
  
      h2 {
        color: $color-text;
        font-size: 1.5rem; 
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
      }
  
      .column1 {
        display: flex;
        width: calc(100vw / 3);
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-end;
        height: 100%;
      }
      .column2 {
        width: calc(100vw / 3);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
  
        img {
            height: 50px;
        }
  
      h1 {
        font-family: 'Korner Deli NF';
        font-weight: bold;
        color: $color-text;
        font-size: 2.5rem;
        margin-bottom: 15px;
        line-height: 2.5rem;
      }
    }
  
    .column3 {
      width: calc(100vw / 3);
      display: flex;
      flex-flow: row nowrap;
      height: 100%;
      justify-content: space-around;
      align-items: flex-end;
    }
  
    .logout {
      position: absolute;
      top: 10px;
      right: 10px;
  
      a {
        color: $color-text;
        padding: 0.8rem;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        text-decoration: none;
      }  
    }
  
    .log_reg {
      position: absolute;
      top: 10px;
      left: 10px;
      a {
        color: $color-text;
        padding: 0.8rem;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        text-decoration: none;
      }  
  
      span {
        color:$color-text;
      }
    }
  }

  footer nav {
    display: none;
  }

  footer .desktop {
    display: block;
  }

  header .mobile {
    display: none;
  }

}