$color-text: #FFF5DA;
@font-face {
    font-family: 'Korner Deli NF';
    src: local('Korner Deli NF'),
         url('/fonts/KornerDeliNF.woff2') format('woff2'),
         url('/fonts/KornerDeliNF.woff') format('woff'),
         url('/fonts/KornerDeliNF.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
  }

.sky {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/img/sky.jpg');
    background-size: 100% 100%;
    z-index: -1;
}

.clouds {
    width: 100%;
    height: 100%;
    background-image: url('/img/clouds.png');
    background-size: 100% 100%;
    z-index: 0;
}

.mountains  {
    width: 100%;
    height: 40vh;
    background-image: url('/img/mountains.png');
    background-size: cover;
    background-position-x: center;
    z-index: 1;
    position: absolute;
    bottom: 10vh;
    left: 0;
    transition: 0.5s;
}

.trees {
    width: 100%;
    height: 40vh;
    background-image: url('/img/trees.png');
    background-size: cover;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.slope {
    width: 100%;
    height: 40vh;
    background-image: url('/img/slope.png');
    background-size: cover;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.search-fade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    display: flex;
    justify-content: center;
}



.search-form {
    opacity: 0.7;
    // border-bottom: 1px solid $color-text;
    transition: 0.5s;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    top: 40vh;
    text-align: center;
    font-size: 1.5rem;

    .search-input {
        color: rgba(0, 0, 0, 0.5);
        width: 250px;
        font-size: 1.5rem;
    }

    img {
        height: 2rem;
        margin-right: 1rem;
    }

    ::placeholder {
        color: $color-text;
        font-size: 1.5rem;
    }

    #suggestions {
        // background-color: rgba(255,255,255,.9);
        text-align: left;
        width: 250px;
        max-height: 200px;
        overflow-y: scroll;
        display:none;
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 1rem;
      }
      a {
          text-decoration: none;
      }
      a:hover {
          text-decoration:underline;
      }
}

.search-form:hover {
    opacity: 1;
    border-bottom: 'none';
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    border-radius: 10px;
    
    .search-input {
        color: rgba(0, 0, 0, 0.5);
        width: 250px;
    }

    ::placeholder {
        color: black;
        opacity: 0.15;
    }

    img {
        opacity: 0.15;
    }
}   

.form-group-search {
    display: flex;
    
}

@media only screen and (min-width: 768px) {
    .sky {
        height: 100vh;
    }

    .mountains {
        height: 50vw;
        bottom: 0;
        max-height: 70vh;
    }

    .trees {
        right: 0;
        height: 70vh;
        width: 100%;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-position-x: 100%;
    };

    .slope {
        height: 60vh;
        width: 100%;
        left: 0;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position-y: 100%;
    }

    .search-form {
        font-size: 2rem;
    
        img {
            height: 3rem;
        }
    
        ::placeholder {
            font-size: 2rem;
        }
    
        #suggestions {
            font-size: 1.5rem;
            width: 250px;
          }

        .search-input {
            width: 312px;
        }
    }

    .search-form:hover {
        padding: 1rem;
        border-radius: 10px;
        
        .search-input {
            color: rgba(0, 0, 0, 0.5);
            width: 312px;
        }
    }   
}