@import 'header-clear';
@import 'city-style';

@font-face {
  font-family: 'Korner Deli NF';
  src: local('Korner Deli NF'),
       url('/fonts/KornerDeliNF.woff2') format('woff2'),
       url('/fonts/KornerDeliNF.woff') format('woff'),
       url('/fonts/KornerDeliNF.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

$color-text: #FFF5DA;

* {
  margin: auto 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;

}