@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,400,700);header .mobile {
  background-color: #15375A;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

header .mobile img {
  height: 50px;
}

header .mobile a {
  margin: 0;
  text-decoration: none;
}

header .mobile h1 {
  font-family: 'Korner Deli NF';
  font-weight: bold;
  color: #FFF5DA;
  font-size: 2.5rem;
  margin-bottom: 15px;
  line-height: 2rem;
}

header .desktop {
  display: none;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #15375A;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  header .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    width: 100%;
    height: 112px;
    background-color: #15375A;
    padding-top: 1rem;
  }

  header .desktop a {
    text-decoration: none;
    margin: 0;
  }

  header .desktop h2 {
    color: #FFF5DA;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }

  header .desktop .column1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw / 3);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
  }

  header .desktop .column2 {
    width: calc(100vw / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  header .desktop .column2 img {
    height: 50px;
  }

  header .desktop .column2 h1 {
    font-family: 'Korner Deli NF';
    font-weight: bold;
    color: #FFF5DA;
    font-size: 2.5rem;
    margin-bottom: 15px;
    line-height: 2.5rem;
  }

  header .desktop .column3 {
    width: calc(100vw / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  header .desktop .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  header .desktop .logout a {
    color: #FFF5DA;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
  }

  header .desktop .log_reg {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  header .desktop .log_reg a {
    color: #FFF5DA;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
  }

  header .desktop .log_reg span {
    color: #FFF5DA;
  }

  footer nav {
    display: none;
  }

  footer .desktop {
    display: block;
  }

  header .mobile {
    display: none;
  }
}

* {
  margin: auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.loading {
  position: fixed;
  z-index: 50;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #15375A;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading_title {
  font-family: 'Korner Deli NF';
  font-weight: bold;
  color: #FFD496;
  font-size: 4.5rem;
  margin-bottom: 15px;
}

.loading_welcome {
  font-family: 'Korner Deli NF';
  font-weight: bold;
  color: #FFD496;
  font-size: 3rem;
}

.bounce {
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-top: -25px;
  margin-left: -25px;
  height: 80px;
  width: 80px;
  background: transparent;
  -webkit-animation: bounce 4s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 66%;
  }

  25%, 75% {
    bottom: 68%;
  }

  50% {
    bottom: 70%;
  }

  100% {
    bottom: 72%;
  }
}

.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  color: #405C7B;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
  padding-top: 4rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 3;
  overflow-y: auto;
}

.slider.close {
  bottom: 100vh;
  height: 0;
}

.continents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.country_button {
  visibility: visible;
}

.score {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: end;
  z-index: 20;
  margin-right: 0.1rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-family: 'Poppins';
  font-weight: 200;
  color: #405C7B;
  background-color: #FFFFFF;
  border-radius: 2rem;
  padding: 0.5rem;
}

@font-face {
  font-family: 'Korner Deli NF';
  src: url("/public/fonts/KornerDeliNF.ttf") format("ttf");
}

.sea {
  background-image: radial-gradient(#000000, #06999F);
  width: 100%;
  height: calc(100vh - 172px);
}

.map {
  width: 100%;
  height: 100%;
  visibility: visible;
  background-image: url("/img/sea384-01.svg");
  z-index: 0;
}

.map .listview-mobile {
  background-color: #FFFFFF;
  z-index: 10;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-family: 'Poppins';
  color: #405C7B;
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
  overflow-y: auto;
}

.map .listview-desktop {
  display: none;
}

.map .listview-mobile:hover {
  color: #FFFFFF;
  background-color: #405C7B;
}

.image-crop {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 1rem;
  margin-left: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flag-icon {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.features {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 60px;
  background-image: url("/img/positano-faded.jpg");
  background-size: cover;
  background-position-x: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.features .instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

.features .instructions img {
  width: 40%;
}

.features .instructions h6 {
  font-family: 'Korner Deli NF';
  font-size: 2rem;
  color: #530000;
  text-align: center;
}

.features .display-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #0C3460;
  margin: 0;
}

.features p {
  display: none;
}

.features .shape {
  display: none;
  overflow: hidden;
}

.list-country-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  white-space: nowrap;
}

.continents-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.continent img {
  width: 75px;
  margin: 1rem auto;
}

@media only screen and (min-width: 768px) {
  .slider {
    height: 100%;
    text-align: center;
    width: 70vw;
  }

  .slider.close {
    position: absolute;
    width: 70vw;
    height: 0;
    bottom: -10%;
    overflow: hidden;
    background-color: #FFFFFF;
    color: #405C7B;
    font-size: 1.5rem;
    line-height: 0.2rem;
    text-align: center;
    padding: 1rem;
    opacity: 0.90;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 3;
  }

  .score {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    text-align: end;
    z-index: 20;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 200;
    color: #405C7B;
    background-color: #FFFFFF;
    border-radius: 1.6rem;
    padding: 1rem;
    line-height: 0rem;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }

  .sea {
    width: calc(100vw - 370px);
    height: calc(100vh - 112px);
  }

  .sea-desktop {
    width: calc(100vw - 370px);
  }

  .listview-desktop {
    display: block !important;
    background-color: #FFFFFF;
    z-index: 10;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-family: 'Poppins';
    color: #405C7B;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    width: 200px;
    font-size: 1.5rem;
  }

  .listview-desktop:hover {
    color: #FFFFFF;
    background-color: #405C7B;
  }

  .features {
    position: absolute;
    width: 370px;
    height: calc(100vh - 112px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.9);
    right: 0;
    bottom: 0;
  }

  .features .display-name {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    padding: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features .display-name h2 {
    max-width: 80%;
    white-space: nowrap;
    font-size: 1.5rem;
  }

  .features p {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #0C3460;
  }

  .features .shape-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin: 0;
  }

  .features .shape {
    display: block !important;
    height: 30vh;
    margin: 0 auto;
  }

  .features .image-crop {
    margin-right: 0;
    margin-left: 1rem;
  }

  .features::-webkit-scrollbar {
    display: none;
  }

  .map .listview-mobile {
    display: none;
  }

  p {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #0C3460;
  }

  .shape-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin: 0;
  }

  .shape {
    display: block !important;
    height: 50vh;
    margin: 0 auto;
  }
}

.map .listview-mobile {
  display: none;
}

.continent img {
  width: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.continent img :hover {
  width: 150px;
}

.list-country-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5rem;
}

.list-country-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.country-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.country-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  cursor: pointer;
  text-align: center;
  height: 60px;
  width: 60px;
}

.country-button:hover {
  cursor: pointer;
  color: #60D16E;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .2s;
  transition: .2s;
}

.fa-check-circle {
  color: #60D16E;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .2s;
  transition: .2s;
}

.flag-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 1rem 2rem 3rem 3rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 7rem;
}

.city-info h2 {
  margin: auto;
  text-align: center;
}

#attraction {
  margin: auto;
  width: 100%;
  text-align: center;
}

#attraction-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 300px;
  font-weight: bold;
  color: white;
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1em 0 .3em 0;
  text-shadow: #000000 0 0 10px;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

