header .mobile {
  background-color: rgba(0, 0, 0, 0);
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

header .mobile img {
  height: 50px;
}

header .mobile a {
  margin: 0;
  text-decoration: none;
}

header .mobile h1 {
  font-family: 'Korner Deli NF';
  font-weight: bold;
  color: #FFF5DA;
  font-size: 2rem;
  margin-bottom: 15px;
  line-height: 2rem;
}

header .desktop {
  display: none;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.7);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 500;
}

footer nav img {
  height: 35px;
}

@media only screen and (min-width: 768px) {
  header .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    width: 100%;
    height: 112px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1rem;
  }

  header .desktop a {
    text-decoration: none;
    margin: 0;
  }

  header .desktop h2 {
    color: #FFF5DA;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }

  header .desktop .column1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw / 3);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
  }

  header .desktop .column2 {
    width: calc(100vw / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  header .desktop .column2 img {
    height: 50px;
  }

  header .desktop .column2 h1 {
    font-family: 'Korner Deli NF';
    font-weight: bold;
    color: #FFF5DA;
    font-size: 2.5rem;
    margin-bottom: 15px;
    line-height: 2.5rem;
  }

  header .desktop .column3 {
    width: calc(100vw / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  header .desktop .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  header .desktop .logout a {
    color: #FFF5DA;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
  }

  header .desktop .log_reg {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  header .desktop .log_reg a {
    color: #FFF5DA;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
  }

  header .desktop .log_reg span {
    color: #FFF5DA;
  }

  footer nav {
    display: none;
  }

  footer .desktop {
    display: block;
  }

  header .mobile {
    display: none;
  }
}

h3 {
  font-family: 'Korner Deli NF';
  font-weight: 100;
  color: white;
  font-size: 3rem;
}

h4 {
  font-family: 'Poppins';
  font-weight: 100;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 0;
}

.name {
  position: absolute;
  top: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.fade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.header-background {
  position: absolute;
  top: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 90vh;
}

.down-arrow {
  display: none;
}

.down-arrow img {
  height: 100%;
}

.attractions {
  position: absolute;
  top: 100vh;
  left: 10vw;
  width: 80vw;
  max-width: 1000px;
  margin: 2rem auto;
}

.attractions h1 {
  text-align: center;
  font-family: 'poppins';
  font-size: 1.5rem;
  font-weight: 200;
  margin: 1rem;
}

.attractions .city-map {
  margin: 3rem auto;
  text-align: center;
}

.attractions .city-map img {
  width: 100%;
}

.attractions .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.attractions .carousel-background {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}

.attractions .darkener {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  padding: 0.5rem;
}

.attractions .darkener h5 {
  font-family: 'poppins';
  font-size: 1rem;
  text-align: center;
  font-weight: 200;
  margin-top: 1rem;
}

.attractions .darkener img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 170px;
}

.attractions .darkener p {
  margin-bottom: 1rem;
}

.attractions .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: initial;
  margin: 3rem auto 0 auto;
  border-top: 1px solid #7e7e7e;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.attractions .footer p {
  font-family: 'Korner Deli NF';
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 6rem;
  }

  h4 {
    font-size: 2rem;
  }

  .header-background {
    height: 85vh;
    background-attachment: fixed;
  }

  .down-arrow {
    display: block;
    top: 90vh;
    height: 5vh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    left: calc(50vw - 29.32px);
    opacity: 0.5;
  }

  .attractions h1 {
    font-size: 2rem;
  }

  .attractions .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .attractions .carousel-background {
    width: calc(20% - 1rem);
  }

  .attractions .carousel:first-child {
    margin-left: 0;
  }

  .attractions .carousel:last-child {
    margin-right: 0;
  }

  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.5;
  }

  .footer .logo p {
    font-size: 2rem;
  }

  .footer .logo img {
    height: 50px;
  }
}

@font-face {
  font-family: 'Korner Deli NF';
  src: local("Korner Deli NF"), url("/fonts/KornerDeliNF.woff2") format("woff2"), url("/fonts/KornerDeliNF.woff") format("woff"), url("/fonts/KornerDeliNF.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

