header .mobile {
  background-color: rgba(0, 0, 0, 0);
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

header .mobile img {
  height: 50px;
}

header .mobile a {
  margin: 0;
  text-decoration: none;
}

header .mobile h1 {
  font-family: 'Korner Deli NF';
  font-weight: bold;
  color: #FFF5DA;
  font-size: 2.5rem;
  margin-bottom: 15px;
  line-height: 2rem;
}

header .desktop {
  display: none;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
  height: 7.5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  header .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    width: 100%;
    height: 112px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1rem;
  }

  header .desktop a {
    text-decoration: none;
    margin: 0;
  }

  header .desktop h2 {
    color: #FFF5DA;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  header .desktop .column1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw / 3);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
  }

  header .desktop .column2 {
    width: calc(100vw / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  header .desktop .column2 img {
    height: 50px;
  }

  header .desktop .column2 h1 {
    font-family: 'Korner Deli NF';
    font-weight: bold;
    color: #FFF5DA;
    font-size: 2.5rem;
    margin-bottom: 15px;
    line-height: 2.5rem;
  }

  header .desktop .column3 {
    width: calc(100vw / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  header .desktop .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  header .desktop .logout a {
    color: #FFF5DA;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
  }

  header .desktop .log_reg {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  header .desktop .log_reg a {
    color: #FFF5DA;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
  }

  header .desktop .log_reg span {
    color: #FFF5DA;
  }

  footer nav {
    display: none;
  }

  footer .desktop {
    display: block;
  }

  header .mobile {
    display: none;
  }
}

.sky {
  position: absolute;
  top: 0;
  width: 100%;
  height: 92.5vh;
  background-image: url("/img/sky.jpg");
  background-size: 100% 100%;
  z-index: -1;
}

.clouds {
  width: 100%;
  height: 100%;
  background-image: url("/img/clouds.png");
  background-size: 100% 100%;
  z-index: 0;
}

.mountains {
  width: 100%;
  height: 40vh;
  background-image: url("/img/mountains.png");
  background-size: cover;
  background-position-x: center;
  z-index: 1;
  position: absolute;
  bottom: 10vh;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.trees {
  width: 100%;
  height: 40vh;
  background-image: url("/img/trees.png");
  background-size: cover;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slope {
  width: 100%;
  height: 40vh;
  background-image: url("/img/slope.png");
  background-size: cover;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search-form {
  opacity: 0.7;
  border-bottom: 1px solid #FFF5DA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search-form img {
  height: 3rem;
  margin-right: 1rem;
}

.search-form ::-webkit-input-placeholder {
  color: #FFF5DA;
}

.search-form ::-ms-input-placeholder {
  color: #FFF5DA;
}

.search-form ::placeholder {
  color: #FFF5DA;
}

.search-form:hover {
  opacity: 1;
  border-bottom: 'none';
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.search-form:hover input {
  color: #000000;
}

.search-form:hover ::-webkit-input-placeholder {
  color: black;
  opacity: 0.15;
}

.search-form:hover ::-ms-input-placeholder {
  color: black;
  opacity: 0.15;
}

.search-form:hover ::placeholder {
  color: black;
  opacity: 0.15;
}

.search-form:hover img {
  opacity: 0.15;
}

@media only screen and (min-width: 768px) {
  .sky {
    height: 100vh;
  }

  .mountains {
    height: 50vw;
    bottom: 0;
    max-height: 70vh;
  }

  .trees {
    right: 0;
    height: 70vh;
    width: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;
  }

  .slope {
    height: 60vh;
    width: 100%;
    left: 0;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: 100%;
  }
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("/img/positano.jpg");
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 50%;
  z-index: -1;
  height: 100vh;
}

.email-123 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.form {
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 50;
  padding: 1rem;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form input {
  font-size: 1.5rem;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.name,
.email,
.confirm-password,
.register-btn {
  width: 100%;
}

.login-field {
  width: 100%;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0.5rem 0;
}

.login-input {
  font-size: 1.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Poppins';
  font-weight: 200;
  color: #000000;
}

.login_labels {
  color: #000000;
  font-weight: 400;
}

.login_labels img {
  height: 2rem;
  margin-right: 1rem;
  opacity: 0.5;
}

.remember_me {
  margin-top: 1rem;
  width: 30%;
  margin-bottom: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.check_remember {
  width: initial;
  margin: 0 0.5rem;
}

.submit-btn {
  border-radius: 0.5rem;
  font-family: 'Poppins';
  font-size: 1.2rem;
  margin: 1rem;
  width: 200px;
  border: none;
  background-color: #5186ca;
  color: #FFFFFF;
}

.forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.forgot-pass {
  color: #5186ca;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

.submit_forgotpassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email_input ::-webkit-input-placeholder {
  color: black;
}

.email_input ::-ms-input-placeholder {
  color: black;
}

.email_input ::placeholder {
  color: black;
}

img .email,
img .padlock {
  height: 2rem;
}

.email_field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.reset_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.send_pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.reset-pass {
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .form {
    width: 450px;
  }
}

header {
  z-index: 2;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

.button {
  text-align: center;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 200;
  color: #405C7B;
  background-color: #FFFFFF;
  border-radius: 2rem;
  padding: 0.6rem;
  text-decoration: none;
}

.profile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 92.5vh;
  background-image: url("/img/flamingo.jpg");
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 50%;
  z-index: 1;
  height: 100vh;
}

.profile .rounded-circle {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.profile .profile_name {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.profile .profile_name h2 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 2rem;
}

.profile .scoreandimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  width: 100%;
}

.profile .scoreandimage .score_container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .scoreandimage .score {
  width: 66%;
  padding: 1rem;
  background-color: #405C7B;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.profile .scoreandimage .score.score-btn {
  width: 25%;
}

.profile .scoreandimage .score h3 {
  font-family: 'Poppins';
  font-weight: 200;
  width: 100%;
}

.profile .scoreandimage .score span {
  font-weight: 500;
}

.profile .profile_image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3rem;
}

.profile .image-crop2 {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.profile .form-group {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .form-group input[type='file'] {
  color: transparent;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 1.2rem;
  min-width: 37%;
}

.profile .form-group .form-text.text-muted {
  width: 8%;
}

.profile .photo-photo {
  width: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .photo-photo img {
  border-radius: 50%;
}

.profile .photo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}

.profile .photo-form button {
  width: 50%;
  border-radius: 1rem;
  cursor: pointer;
  font-family: 'Poppins';
}

.continents-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.africa,
.asia,
.europe,
.north_america,
.south_america,
.australia {
  text-align: center;
  width: 45%;
}

.profile-thing {
  background-color: rgba(255, 255, 255, 0.75);
  width: 700px;
  border-radius: 10px;
  opacity: 0.95;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
  margin-top: 3rem;
  z-index: 100;
  max-width: 80vw;
}

.profile-thing .alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 3;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  background-color: #405C7B;
  color: white;
}

.outer {
  border-radius: 15px;
  overflow: hidden;
  max-width: 80vw;
}

.visited_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  padding: 1rem;
  margin: auto;
}

.flag-icon {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.flag-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 1rem 2rem 3rem 3rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 7rem;
}

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}

.progress-pie-chart.gt-50 {
  background-color: #6B96AB;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #6B96AB;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304348px/2);
  top: calc(50% - 173.91304348px/2);
  width: 173.91304348px;
  height: 173.91304348px;
  background: transparent;
  text-align: center;
  display: table;
  overflow: hidden;
}

.ppc-percents img {
  background: white;
  border-radius: 60px;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}

.country-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

.image-crop1 {
  width: 5.4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 768px) {
  .profile .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }

  .profile .form-group input[type='file'] {
    color: transparent;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 1.2rem;
    width: 37%;
  }
}

* {
  margin: auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.fade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  background-color: rgba(255, 255, 255, 0);
  color: #FFF5DA;
  border: none;
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
  font-weight: 200;
  width: 315px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

